.content {
  width: 100%;
  background-color: #1c1c20;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.menuBtn {
  font-size: 26px;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.menuBtn:hover {
  cursor: pointer;
}

.signinControls {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: #28282c;
}
.signinControls > h1 {
  font-weight: 500;
  margin: 5px 0px 0px 15px;
}
.todoContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px 40px;
  margin-bottom: 30px;
  background-color: #28282c;
}

.draggableItemContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 15px;
  padding: 10px 40px;
  margin-bottom: 30px;
}
.navContainer {
  width: 20%;
}
.childrenContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
