.newBoardSection {
  margin: 10px;
  display: flex;
}

.textWhite {
  color: 'white';
}
.addBoardBtn {
  display: flex;
  align-self: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
}
.addBoardBtn:hover {
  cursor: pointer;
}
